/* Foot */
.foot{
    background-color: var(--back-secondary);
}

/* Foot Content */
.foot-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 96rem;
    margin: auto;
    padding: 2rem 2rem 1rem 2rem;
}

/* Top */
.foot-content-top{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas:
        "title subscribe contact socials";
    gap: 2rem;
}

/* Foot Content Title */
.foot-content-title{
    grid-area: title;
    font-family: satoshi-bold;
    font-size: 2rem;
}

/* Foot Content Subscribe */
.foot-content-subscribe{
    grid-area: subscribe;
    place-self: start center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.foot-content-subscribe-title{
    font-family: satoshi-bold;
    font-size: 1.25rem;
    text-align: center;
}
.foot-content-subscribe-form{
    display: flex;
    gap: 1rem;
}
.foot-content-subscribe-form input[type='email']{
    all: unset;
    box-sizing: border-box;
    background-color: var(--back-secondary);
    color: var(--fore-primary);
    border: .125rem solid var(--fore-primary);
    height: 2.5rem;
    width: 12rem;
    border-radius: .5rem;
    text-indent: 1rem;
}
.foot-content-subscribe-form input[type='email']::placeholder{
    all: unset;
    color: var(--fore-primary);
}
.foot-content-subscribe-form input[type='submit']{
    all: unset;
    background-color: var(--fore-secondary);
    color: var(--back-primary);
    font-family: satoshi-bold;
    height: 2.5rem;
    width: 6rem;
    text-align: center;
    border-radius: .5rem;
}
.foot-content-subscribe-form input[type='submit']:hover{

}

/* Foot Content Contact */
.foot-content-contact{
    grid-area: contact;
    place-self: start center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}
.foot-content-contact-title{
    font-family: satoshi-bold;
    font-size: 1.25rem;
}
.foot-content-contact-contacts{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    user-select: text;
}

/* Foot Content Socials */
.foot-content-socials{
    grid-area: socials;
    place-self: start end;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.foot-content-socials-title{
    font-family: satoshi-bold;
    font-size: 1.25rem;
    text-align: end;
}
.foot-content-socials-icons{
    font-size: 0;
    display: flex;
    gap: 1rem;
}
.foot-content-socials-icons img{
    height: 1.5rem;
}

/* Bot */
.foot-content-bot{
    display: flex;
    justify-content: space-between;
}

/* Foot Content Policies */
.foot-content-policies{
    display: flex;
    gap: 1rem;
}

/* Mobile */
@media screen and (max-width: 64rem){
    /* Foot Content */
    .foot-content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 96rem;
        margin: auto;
        padding: 2rem 2rem 4rem 2rem;
    }

    /* Top */
    .foot-content-top{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "title socials"
            "subscribe contact";
        gap: 1rem;
    }

    /* Foot Content Subscribe */
    .foot-content-subscribe{
        place-self: end start;
    }
    .foot-content-subscribe-title{
        text-align: start;
    }

    /* Foot Content Contact */
    .foot-content-contact{
        place-self: start end;
        text-align: end;
    }
}
@media screen and (max-width: 42rem){
    /* Top */
    .foot-content-top{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-areas:
            "title"
            "subscribe"
            "contact"
            "socials";
        gap: 2rem;
    }

    /* Foot Content Title */
    .foot-content-title{
        text-align: center;
    }

    /* Foot Content Subscribe */
    .foot-content-subscribe{
        place-self: center;
    }
    .foot-content-subscribe-title{
        text-align: center;
    }

    /* Foot Content Contact */
    .foot-content-contact{
        place-self: center;
        text-align: center;
    }

    /* Foot Content Socials */
    .foot-content-socials{
        place-self: center;
    }
    .foot-content-socials-title{
        text-align: center;
    }

    /* Bot */
    .foot-content-bot{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
}