/* Head */
.head{
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "title nav button";
    align-items: center;
    height: 6rem;
    margin-bottom: 2rem;
    max-width: 96rem;
    margin: auto;
    padding: 0 2rem;
}

/* Head Title */
.head-title{
    grid-area: title;
    font-family: satoshi-black;
    font-size: 2rem;
}

/* Head Nav */
.head-nav{
    grid-area: nav;
    display: flex;
    gap: 2rem;
    padding-left: 8rem;
}
.head-nav a{
    font-family: satoshi-bold;
    font-size: 1.125rem;
}

/* Head Button */
.head-button{
    grid-area: button;
    background-color: var(--fore-primary);
    color: var(--back-primary);
    font-family: satoshi-bold;
    font-size: 1.125rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    gap: 1rem;
    border-radius: 2rem;
}

/* Head Burgir */
.head-burgir{
    grid-area: burgir;
    display: none;
}
.head-burgir input{
    display: none;
}
.head-burgir label{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.head-burgir-top,
.head-burgir-bot{
    position: absolute;
    height: .125rem;
    width: 2rem;
    background-color: var(--fore-primary);
    transition: transform var(--transition-speed);
}
.head-burgir-top{
    transform: translateY(-.25rem);
}
.head-burgir-bot{
    transform: translateY(.25rem);
}
.head-burgir input:checked ~ label .head-burgir-top{
    transform: rotate(45deg);
}
.head-burgir input:checked ~ label .head-burgir-bot{
    transform: rotate(-45deg);
}

/* Mobile */
@media screen and (max-width: 64rem){
    /* Head */
    .head{
        grid-template-areas:
        "title user burgir";
    }

    /* Head Title */
    .head-title{
        font-size: 1.5rem;
    }

    /* Head Nav */
    .head-nav{
        display: none;
    }

    /* Head User */
    .head-user{
        place-self: center end;
        margin-right: 2rem;
    }

    /* Head Burgir */
    .head-burgir{
        display: block;
    }
}